body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #111;
}

.wrapper {
  max-width: 50ch;
  margin: 4rem auto;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: justify;
}

.menu-items {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.4rem;
  margin-bottom: 2rem;
  align-items: center;
}

.socials {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}

.socials img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

